<!-- head partial -->

<!-- views/partials/head.ejs -->
<meta charset="UTF-8" /> <title>Drinks Order - Basics of EJS and Express</title>

<!-- CSS (load bootstrap from a CDN) -->
<link
  rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
/>
<style>
  body {
    margin: 0;
  }
  form {
    margin: auto;
    width: 400px;
  }
  form input {
    margin-bottom: 10px;
  }
  .small {
    font-size: 1.3rem;
  }
</style>
